gen_llm_sd_oneshot.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -460,
        -60
      ],
      "id": "07b03390-30cc-4673-968b-2c74f8936361",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "model": "llama-3.2-3b-instruct:q8_0",
        "options": {
          "baseURL": "http://103.20.97.11:8080/v1"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -100,
        160
      ],
      "id": "dc82b2e3-d5cf-4827-8d7b-445549b2e31c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "6DUt0T0rmtMObw8t",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"title\": \"title of story\",\n\t\"content\": \"content of story\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        100,
        140
      ],
      "id": "f273f942-3f92-4e22-bb9a-588b1e8bbdb9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Generate a random story with title and content of story in JSON format. You must always return valid JSON fenced by a markdown code block. Do not return any additional text. ",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -80,
        -80
      ],
      "id": "b0435c87-ea1a-4512-888d-cf8c43364c98",
      "name": "Sinh ra câu truyện",
      "retryOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://103.20.97.11:8080/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "dreamshaper"
            },
            {
              "name": "=prompt",
              "value": "=Create an illustration for story : \nTitle of story: {{ $json.output.title }}\nContent of story: {{ $json.output.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        -80
      ],
      "id": "10ee108c-f374-4780-b099-4056d53b89d7",
      "name": "Post lên SD để sinh ảnh"
    },
    {
      "parameters": {
        "url": "={{ $json.data[0].url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        -80
      ],
      "id": "61c7c184-84a2-485d-83a8-e5370bc9e885",
      "name": "Tải ảnh về ở dạng Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nguyenchienthang.vn/wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "image/png"
            },
            {
              "name": "content-disposition",
              "value": "=attachment; filename=pix{{ $json.id }}.png"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        -80
      ],
      "id": "b7bc3ce7-2183-4100-b375-5876a1a8cf03",
      "name": "Post ảnh lên WP để lấy ID",
      "credentials": {
        "wordpressApi": {
          "id": "GrtpMGpZAB4i5kkk",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $('Sinh ra câu truyện').item.json.output.title }}",
        "additionalFields": {
          "content": "={{ $('Sinh ra câu truyện').item.json.output.content }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        940,
        -80
      ],
      "id": "6e704542-f20c-4129-aa30-34046a65d570",
      "name": "Wordpress",
      "credentials": {
        "wordpressApi": {
          "id": "GrtpMGpZAB4i5kkk",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://nguyenchienthang.vn/wp-json/wp/v2/posts/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $('Post ảnh lên WP để lấy ID').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1160,
        -80
      ],
      "id": "625d11f8-18db-42d8-903f-e54250e3df2d",
      "name": "Cập nhật bài viết, thêm ảnh minh hoạ",
      "credentials": {
        "wordpressApi": {
          "id": "GrtpMGpZAB4i5kkk",
          "name": "Wordpress account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Sinh ra câu truyện",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sinh ra câu truyện",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Sinh ra câu truyện",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Sinh ra câu truyện": {
      "main": [
        [
          {
            "node": "Post lên SD để sinh ảnh",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post lên SD để sinh ảnh": {
      "main": [
        [
          {
            "node": "Tải ảnh về ở dạng Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tải ảnh về ở dạng Data": {
      "main": [
        [
          {
            "node": "Post ảnh lên WP để lấy ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post ảnh lên WP để lấy ID": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress": {
      "main": [
        [
          {
            "node": "Cập nhật bài viết, thêm ảnh minh hoạ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ccf39ec4-bd57-4ab4-b127-8107556449d3",
  "meta": {
    "instanceId": "44a88a7ab3930ae66a7e18969d41bceba0cc5db164d4fc365352bf90b2d20f58"
  },
  "id": "2NYZ49u9Jdg29wJT",
  "tags": []
}